@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /*outline: 1px dotted red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.6;
  color: oklch(0.21 0.006 285.885);
}

header {
  padding: 1rem 5rem 0;
  color: oklch(0.92 0.004 286.32);
  background-color: cornflowerblue;
}

.logo {
  display: flex;
  column-gap: 10px;
}

.logo img {
  height: auto;
  width: 50px;
  object-fit: cover;
}

h1 {
  line-height: 1;
  font-weight: 600;
}

h2,
h3,
h4 {
  font-weight: 600;
}

ul {
  margin-top: 20px;
  display: flex;
}

.nav-links {
  width: max-content;
  gap: 2px;
  background-color: cornflowerblue;
}

li {
  padding: 10px 20px;
  font-size: 12px;
  background-color: #1287fc;
}

li:hover {
  background-color: dodgerblue;
}

a {
  font-weight: 500;
  color: #fff;
}

main {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero {
  padding: 15px 20px;
  border: 1px solid oklch(0.705 0.015 286.067);
  border-radius: 8px;
  color: oklch(0.21 0.006 285.885);
  background-color: oklch(0.92 0.004 286.32);
}

.disclaimer {
  padding: 15px 20px;
  border: 1px solid oklch(0.637 0.237 25.331);
  border-radius: 8px;
  color: oklch(0.258 0.092 26.042);
  background-color: oklch(0.885 0.062 18.334);
}

ul:has(details) {
  flex-direction: column;
  row-gap: 10px;
}

summary,
.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid oklch(0.705 0.015 286.067);
  border-radius: 5px;
  background-color: #e5e7eb;
  cursor: pointer;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.ri-arrow-down-s-line {
  font-size: 2rem;
}

.underline {
  margin-top: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.content {
  padding: 0 20px 10px;
}

h4 {
  padding: 20px 0 0;
}

ol {
  padding: 0 20px;
}

small {
  display: block;
}

form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

input, button {
  padding: 5px 10px;
}

button {
  cursor: pointer;
}

footer {
  padding: 2rem 5rem;
  text-align: center;
  color: oklch(0.92 0.004 286.32);
  background-color: #0f172a;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #0f172a;
  padding: 0.5rem 1rem;
}

h2 {
  margin: 20px 0;
}

.officials {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.official {
  display: flex;
  gap: 10px;
}

.official img {
  width: 80px;
  height: auto;
  object-fit: cover;
}

.name p {
  font-weight: 600;
}

.position {
  display: unset;
  padding: 2px 10px;
  font-weight: 500;
  color:#0f172a;
  background-color: dodgerblue;
}

.faqs details p {
  padding: 10px 20px;
}

input:focus {
  outline: none;
}